[server]
#port = 9091
bind = "0.0.0.0"
enable_delete = true
log_level = "info"
# Секретный ключ для подписи JWT-токенов. ОБЯЗАТЕЛЬНО замените на свой случайный ключ перед запуском.
# Сгенерировать: openssl rand -hex 32
jwt_secret = "CHANGE_ME_TO_A_RANDOM_SECRET_KEY"
#token_ttl = 24  # hours; 0 (or commented out) = no expiration

[directories]
bookarch = "bookarch"
temp = "tempfld"
logs = "logs"
templates = "templates"
static = "static"
#backup = "/var/backups/library"  # Must be set for DB migrations to work

[database]
#host = "localhost"
#port = 5432
#name = "library"
#user = "postgres"
#password = "PASSWORD"
sslmode = "disable"
#pgdata = "/var/lib/postgresql/data"

[llm]
base_url = "http://192.168.1.2:11434"
model = "phi4:latest"
token = ""
timeout = 60
prompt = "По тексту первых страниц книги определи автора и название. Ответь строго в две строки на русском языке:\nAUTHOR: Имя автора1, Имя автора2\nBOOKNAME: Полное название книги. Если авторов несколько - раздели их ФИО запятой. Если имя автора или название определить не удалось - верни пустое значение в соответствующей строке."
prompt2= "По фрагменту текста определи автора и название книги. Ответь строго в две строки на русском языке:\nAUTHOR: Имя автора\nBOOKNAME: Полное название книги. Если авторов несколько - раздели их ФИО запятой. Если имя автора или название определить не удалось - верни пустое значение в соответствующей строке."
