LIBAPP_DB_USER=lib
LIBAPP_DB_PASSWORD=STRONG_DB_PASSWORD
LIBAPP_DB_NAME=lib
DATABASE_PATH=/server_DB_PATH
SERVER_BOOKSTORAGE_FOLDER=/server_BOOKS_STORAGE
SERVER_LOGS=/server_LOGS
SERVER_TMP_FOLDER=/server_temp
