LIBAPP_DB_USER=lib
LIBAPP_DB_PASSWORD=STRONG_DB_PASSWORD
LIBAPP_DB_NAME=lib
DATABASE_PATH=/server_db_path
SERVER_BOOKSTORAGE_FOLDER=/server_books_storage
SERVER_LOGS=/server_logs
SERVER_TMP_FOLDER=/server_tmp
BACKUP_PATH=/server_backup
